@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Special+Elite&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
body {
  margin: 0;
  font-family: "Lobster", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lobster", sans-serif;
}
